/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-jun-2020, 15:44:23
    Author     : personal
*/
.navbar-custom{
    background-color: blue;
}
.a{
    color: white;
}

.dropdown-item{
   a {
        color: white;
        font-family: "Impact ";
        font-size: 20px;
    }
}