/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-jun-2020, 15:10:28
    Author     : personal
*/
#menu1{
    background-color: gray;
    font-family: Impact;
    color: #F9CB9C; 
    font-size: 20px;
    
}

#text1{
    background-color: #0F4C81;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    
}
#content{
    margin: 0px;
    padding: 0px;
}

div#general{
    margin:auto;
    margin-top:1px;
    width: 1368px;
    height: 800px;
    background-color: #0F4C81;
}

div#vista_rapida{
    float:left;
    
    width: 620px;
    height: 600px;
    background-color: white;
}
div#pendientes{
    float:right;
    width: 620px;
    height: 600px;
    background-color: white;
}

div#divpendientes{
    width: 600px;
    height: 75px;
    border-radius: 10px;
    margin-top: 10px;
    border-style: solid;
    border-color: #F9CB9C;
    background-color: white;
}

.a{
    color: white;
}

h1{
    background-color: gray ;
    
}

.container{
     background-color: gray;
     font-family: 'Roboto', sans-serif;
     border-radius: 10px;
     margin-top: 10px;
     
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #99b9ca;
 }
 
 td#tablatitulo{
     background-color: #F9CB9C;
 }
 
 label#container{
     color: white;
 } 
 
 container#selectRadio{
     color:white;
     font-family: Impact;
 }
     
 label#labelRadio{
     color:white;
     font-family: Impact;
 }

 p{
     font-family: Impact;
     
 }
 
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1.1fr 2.2fr 0.2fr 0.5fr 1fr 1fr;
  grid-template-rows: 1fr 1.1fr 0.9fr 0.1fr 5.4fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "BIENVENIDO BIENVENIDO BIENVENIDO BODEGA BODEGA BODEGA BODEGA" "BIENVENIDO BIENVENIDO BIENVENIDO BODEGA BODEGA BODEGA BODEGA" "BIENVENIDO BIENVENIDO BIENVENIDO BODEGA BODEGA BODEGA BODEGA" "BIENVENIDO BIENVENIDO BIENVENIDO BODEGA BODEGA BODEGA BODEGA" "ultimas-tx ultimas-tx ultimas-tx por-agotarse por-agotarse por-agotarse por-agotarse" "ultimas-tx ultimas-tx ultimas-tx por-agotarse por-agotarse por-agotarse por-agotarse" "ultimas-tx ultimas-tx ultimas-tx por-agotarse por-agotarse por-agotarse por-agotarse";
}

.BODEGA {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "productos productos proveedores proveedores" "productos productos proveedores proveedores" "categorias categorias usuarios usuarios" "categorias categorias usuarios usuarios";
  grid-area: BODEGA;
}

.productos { grid-area: productos; }

.proveedores { grid-area: proveedores; }

.categorias { grid-area: categorias; }

.usuarios { grid-area: usuarios; }

.ultimas-tx { grid-area: ultimas-tx; }

.por-agotarse {
  display: grid;
  grid-template-columns: 1.1fr 0.8fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: ". . ." ". . .";
  grid-area: por-agotarse;
}

.BIENVENIDO { grid-area: BIENVENIDO; }